* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 100px;
  font-weight: bold;
  color: rgb(172, 17, 17);
}

header {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background:rgb(233, 14, 233);
  color: rgb(9, 250, 70);
  font-size: 60px;
  font-weight: bold;
  }

nav {
  height: 80vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background:rgb(0, 26, 255);
  }

main {
  height: 80vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background:rgb(243, 247, 5);
  }

footer {
  height: 10vh;
  display: flex;
  flex-direction: column-reverse;
  background:rgb(14, 255, 243);
  color: rgb(240, 0, 0);
  font-size: 50px;
  text-align: center;
  }